<div class="container-xl">
    <!-- Profile Picture Section -->
    <div class="row">

        <!-- Center the heading -->
        <div class="col-xl-12">

            <h1 style="margin-left: 180px;">Admin Panel</h1>


        </div>
    </div>
</div>